<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
    <div class="login-dark">
        <form method="post" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <h2 class="sr-only">Create Account</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="first_name" placeholder="First Name" required></div>
            <div class="form-group"><input class="form-control" type="text" name="last_name" placeholder="Last Name" required></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" required></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required></div>
            <div class="form-group"><input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" required></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">SignUp</button></div>
            <p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>
            <a href="{% url 'login'%}" class="forgot">Already a Member? SignIn back</a></form>
    </div>{% if error %} {{message}}{%else%}{%endif%}
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>