<a href="/group">Group Home</a>
<br><br>
Group Details
<br><br>
Group Name: {{group.name}}
<br>
Description: {{group.description}}
<br>
Host name: {{group.host}}
<br><br>
Messages

<a href="./add-file">Add File</a>
<br>
{% for message in messages %}
<br>
<a href="https://{{message.file_url}}" target="_blank">{{message.name}}</a>
<a href="./remove-file/{{message.id}}">Remove</a><br>
{% endfor %}
<br>
Participants <br>
<a href="./add">Add Participants</a>
<br><br>
{% for participant in participants %}

{{participant.first_name}} || <a href="./remove/{{participant.id}}"> Remove</a> 
<br>
{% endfor %}